.table-borderless>thead>tr>th
.table-borderless>thead>tr>td
.table-borderless>tbody>tr>th
.table-borderless>tbody>tr>td
.table-borderless>tfoot>tr>th
.table-borderless>tfoot>tr>td {
    border: none;
}
.blockquote-footer::before {
		content: "" !important;
}

.table-borderless {
  background-color: #303030;
  background-color: #303030 !important;
}

.btn-toggle-otg {
  background-color: #00BC8C !important;
  color: white !important;
}

.btn-otg {
  background-color: #00BC8C;
  color: white;
  border-color: #008E68;
}

.btn-otg:hover {
  color: #00684A;
  background-color: #008E68;
}

.navbar-collapse > ul.navbar-nav > li.li-otg > a.nav-link:focus {
  color: white !important;
}

 .navbar-collapse > ul.navbar-nav > li.li-otg > a.nav-link:hover, .home-otg:hover {
  color: #00684A !important;
  background-color: #008E68;
  border-radius: 4px;
  padding-left: 8px;
}

.home-otg{
  padding: 8px;
}

.dropdown-otg{
  background-color: #303030;
}

.dropdown-item-otg:hover {
  background-color: #00BC8C;
  border-radius: 4px;
}

.a-otg {
  color: white;
}

.a-otg:hover {
  color: #00BC8C;
  text-decoration: none;
}

/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

.scrollbar .checkmark {
  margin-top: 5px;
}
/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #00BC8C;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.scrollbar {
margin: auto;
margin-top: 25px;
float: left;
background-color: #303030;
height: 300px;
overflow-y: auto;
overflow-x: hidden;
margin-bottom: 25px;
border-radius: 5px;
padding: 5px 10px 5px 10px;
}

.force-overflow {
min-height: 285px;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00BC8C; }

.scrollbar-danger::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.center {
    text-align:center;
}

.carousel-text {
    height:60px;
}

.dropdown-divider {
   border-color: #008E68;
}

div.toggle-group>span.toggle-handle.btn.btn-default {
  background-color: white !important;
}
/*

Simple custom css

*/


.bigger {
    font-size: 1.5em;
}

.story-text-open {
    max-height: 100%;
}

/* styles for '...' from http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.story-text-closed {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  /* line-height: 1.2em; */
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 250px;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.story-text-closed:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.story-text-closed:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

a.vote-otg {
  -webkit-appearance: none !important;
}

.default-a-cursor-otg:hover {
  cursor: default !important;
}

.badge-otg-yes {
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
}

.badge-otg-yes-outline {
  background-color: transparent;
  color: green;
  border: 1px solid green;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
}

.badge-otg-no {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
}

.badge-otg-no-outline {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
}
